<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li class="home">
                    <a href="#"><button>Inicio</button></a>
                </li>
                <li>
                    <a href="{% url 'service:location-data' %}"><button>Información por localidad</button></a>
                </li>
            </ul>
        </nav>
    </header>
    <br>
    {{ noStates }} <br>
    {{ noDepartments }} <br>
    {{ noRecords }}
</body>

</html>