{% extends 'service/base.html' %}
{% load static %}

{% block title %}Projecto Viento Colombia{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="card-info records">
        <p>Registros</p>{{ noRecords }}
    </div>
    <div class="card-info regions">
        <p>Regiones</p>{{ noRegions }}
    </div>
    <div class="card-info departments">
        <p>Departamentos</p>{{ noDepartments }}
    </div>
    <div class="card-info states">
        <p>Municipios</p>{{ noStates }}
    </div>
    <div class="card-info stations">
        <p>Estaciones</p>{{ noStations }}
    </div>
</div>
<div class="row">
    <div class="graph-hour-2023">
        <iframe width="100%" height="100%" frameborder="0" seamless="seamless" scrolling="no"
            src="{% static hour_speed_url %}"></iframe>
    </div>
    <div class="turbine-3D">
        <model-viewer style="height: 100%; width: 100%;" camera-controls auto-rotate camera-orbit="-50deg 45deg 5m"
            src="{% static 'wind_turbine/scene.gltf' %}" alt="Wind turbine" shadow-intensity="1"
            ios-src="{% static 'wind_turbine/scene.bin' %}" id="modelViewer"></model-viewer>
    </div>
</div>
<div class="row">
    <div class="graph-month-2023">
        <iframe width="100%" height="100%" frameborder="0" seamless="seamless" scrolling="no"
            src="{% static month_speed_url %}"></iframe>
    </div>
</div>
<div class="row">
    <p style="font-size: 14px;">
        Información obtenida de: <br>
        <a href="https://www.datos.gov.co/Ambiente-y-Desarrollo-Sostenible/Velocidad-Viento/sgfv-3yp8"
            target="_blank">Velocidad Viento</a> <br>
        <a href="https://www.datos.gov.co/Ambiente-y-Desarrollo-Sostenible/Direcci-n-Viento/kiw7-v9ta"
            target="_blank">Dirección Viento</a> <br>
        <a href="https://gist.github.com/john-guerra/43c7656821069d00dcbc" target="_blank">Geojson departamentos
            Colombia</a> <br>
        <a href="https://www.kaggle.com/code/alfredomaussa/colombia-municipios/input?scriptVersionId=39794627"
            target="_blank">Geojson municipios Colombia</a>
    </p>
</div>
{% endblock %}