{% extends 'service/base.html' %}
{% load static %}

{% block title %}Projecto Viento Colombia - {{name}}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/location.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="table-data">
        <table>
            <thead>
                <tr>
                    <th>{{ name }}</th>
                    <th>Velocidad media (m/s)</th>
                    <th>Velocidad mediana (m/s)</th>
                    <th>Des. estandar velocidad (m/s)</th>
                    <th>Dirección media (grados)</th>
                    <th>Dirección mediana (grados)</th>
                    <th>Des. estandar dirección (grados)</th>
                </tr>
            </thead>
            <tbody>
                {% for row in table_data %}
                    <tr>
                        {% for val in row %}
                            <th>{{ val }}</th>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="rose-graph">
        <iframe width="100%" height="100%" frameborder="0" seamless="seamless" scrolling="no"
        src="{% static rose_graph_url %}"></iframe>
    </div>
    <div class="turbine-image">
        <img src="{% static 'img/turbine-plan.png' %}" alt="Turbina eólica">
    </div>
</div>
<div class="row">
    <div class="table-min-max">
        <table>
            <thead>
                <tr>
                    <th>{{ name }}</th>
                    <th>Velocidad mínima (m/s)</th>
                    <th>Velocidad máxima (m/s)</th>
                </tr>
            </thead>
            <tbody>
                {% for row in table_min_max %}
                    <tr>
                        {% for value in row %}
                            <th>{{ value }}</th>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="map-graph">
        <iframe width="100%" height="100%" frameborder="0" seamless="seamless" scrolling="no"
            src="{% static map_graph_url %}"></iframe>
    </div>
</div>
<div class="row">
    <div class="bar-graph">
        <iframe width="100%" height="100%" frameborder="0" seamless="seamless" scrolling="no"
            src="{% static bar_graph_url %}"></iframe>
    </div>
</div>
{% endblock %}